@model IEnumerable<Khuluma_Server.Models.ViewModels.ChatMessageViewModel>

@{
    ViewBag.Title = "Chat Message Report";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            @(Html.EJ().Grid<Khuluma_Server.Models.ViewModels.ChatMessageViewModel>("FlatGrid")
                    .Datasource((IEnumerable<Khuluma_Server.Models.ViewModels.ChatMessageViewModel>)Model)
                    .AllowGrouping()
                    .AllowFiltering()
                    .AllowSorting()
                    .AllowTextWrap()
                    .AllowResizeToFit()
                    .ContextMenuSettings(contextMenu =>
                    {
                        contextMenu.EnableContextMenu();
                    })
                    .FilterSettings(d => d.FilterType(FilterType.FilterBar))
                     .ToolbarSettings(toolBar => toolBar.ShowToolbar().ToolbarItems(items =>

                     {
                         items.AddTool(ToolBarItems.Search);
                         items.AddTool(ToolBarItems.ExcelExport);

                         //items.AddTool(ToolBarItems.WordExport);

                         //items.AddTool(ToolBarItems.PdfExport);

                     }))
                     .Mappers(map => map.ExportToExcelAction("ChatMessages/ExcelAction"))
            )

           
           

        </div>
    </div>
</div>

