@model List<Khuluma_Server.Models.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Users";
}



@(Html.EJ().Grid<Khuluma_Server.Models.ViewModels.UserViewModel>("Grid")
        .Datasource((IEnumerable<Khuluma_Server.Models.ViewModels.UserViewModel>)Model)
        .AllowPaging()
        .AllowGrouping()
        .AllowFiltering()
        .AllowSorting()
        .AllowTextWrap()
        .AllowResizeToFit()
        .ContextMenuSettings(contextMenu =>
        {
            contextMenu.EnableContextMenu();
        })
        .FilterSettings(d => d.FilterType(FilterType.FilterBar))
        .AllowSelection()
        .SelectionType(SelectionType.Single)
        .SelectionSettings(select => { select.SelectionMode(mode => { mode.AddMode(SelectionMode.Row); }); })
        .ClientSideEvents(eve => { eve.ToolbarClick("onToolBarClick"); })
        .ClientSideEvents(eve => { eve.RecordClick("onRecordClick"); })

        .ToolbarSettings(toolbar =>
        {
            toolbar.ShowToolbar().ToolbarItems(items =>
            {

            });
            toolbar.CustomToolbarItems(new List<object>() {
                new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Refresh"}
            });
        })
)
<style type="text/css" class="cssStyles">
    .view:before {
        content: "\e677";
    }
</style>
<script id="Refresh" type="text/x-jsrender">

    <button type="button" class="btn btn-default btn-sm">
        <span class="gr-view">VIEW</span>
    </button>

    <button type="button" class="btn btn-default btn-sm">
        <span class="gr-edit">EDIT</span>
    </button>

    <button type="button" class="btn btn-default btn-sm">
        <span class="gr-delete">DELETE</span>
    </button>

</script>

<script type="text/javascript">
            function onToolBarClick(args) {

                var newWindow = false;
                var url = "";
                var tbarObj = $(args.target), grid = this;
                console.log(tbarObj);

                var selectedrecords = grid.getSelectedRecords();

                for (let value of selectedrecords) {

                    var itemID = value.ID;
                    console.log("value.Dashboard" + value.ID);
                    console.log(value);
                }

                //Get Button class
                if (tbarObj.hasClass("gr-view")) {
                    console.log("In gr-view");
                    url = '@Url.Action("Details", "AppUserModels")';
                };



                if (tbarObj.hasClass("gr-edit")) {
                    console.log("In gr-edit");
                    url = '@Url.Action("Edit", "AppUserModels")';
                };

                if (tbarObj.hasClass("gr-delete")) {
                    console.log("In gr-delete");
                    url = '@Url.Action("Delete", "AppUserModels")';
                };

                //Check for ID and redirect
                if (itemID) {

                    if (newWindow == true)
                    {
                        window.open(url + '/' + itemID, '_blank');
                    } else {
                        location.href = url + '/' + itemID;
                    }


                } else {
                    console.log("none selected");
                    alert("Please select a user");
                }



                console.log(selectedrecords);

                //****************************************************
                //****************************************************
                //****************************************************

       


    }


</script>
