<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/42413906-b680-4a46-ae6e-982e713b139d/resourcegroups/khulumares/providers/Microsoft.Web/sites/KhulumaServer</ResourceId>
    <ResourceGroup>khulumares</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://khulumaserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>khulumaserver.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>KhulumaServer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$KhulumaServer</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:khulumaserv.database.windows.net,1433;Initial Catalog=KhulumaServer_db;User ID=ksadmin@khulumaserv;Password=ERN7&amp;Turn9@#4" Name="Data Source=tcp:khulumaserv.database.windows.net,1433;Initial Catalog=KhulumaServer_db;User Id=ksadmin@khulumaserv;Password=ERN7&amp;Turn9@#4" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Khuluma_Server.Models.ApplicationDbContext, Khuluma_Server" MigrationConfiguration="Khuluma_Server.Migrations.Configuration, Khuluma_Server" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="APIContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:khulumaserv.database.windows.net,1433;Initial Catalog=KhulumaServer_db;User ID=ksadmin@khulumaserv;Password=ERN7&amp;Turn9@#4" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|APIContext-20170503100255.mdf;Initial Catalog=APIContext-20170503100255;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\APIContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=APIContext-20170503100255; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|APIContext-20170503100255.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="APIContext-Web.config Connection String">
      <ParameterValue>data source=tcp:khulumaserv.database.windows.net,1433;initial catalog=KhulumaServer_db;user id=ksadmin@khulumaserv;password=ERN7&amp;Turn9@#4;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:khulumaserv.database.windows.net,1433;Initial Catalog=KhulumaServer_db;User Id=ksadmin@khulumaserv;Password=ERN7&amp;Turn9@#4</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:khulumaserv.database.windows.net,1433;Initial Catalog=KhulumaServer_db;User Id=ksadmin@khulumaserv;Password=ERN7&amp;Turn9@#4</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>